# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# VSCode
*.code-workspace
.vscode/

.DS_Store

data/
data/test-jpg/
data/test-jpg-additional/
data/Images/
data_hw_01/

requirements_linter.txt

clearml.conf

src_prev/
src_thrld/
src_ini/
MISC/
lightning_logs/
experiments/
*.ckpt
*.pt
*.pth

configs/other/

HISTORY&COMMENTS.md
